.container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.search-input {
    display: flex;
    flex: 1;
    align-items: center;
}

.search-input button {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.buttons button {
    flex: 0.5;
    margin-left: 10px;
}